doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href="/topic") Server Side JavScript
        ul
            -each topic in topics
                li
                    a(href='/topic/'+topic)= topic
        acrtcle
            h2= title
            = description
        div
            a(href='/topic/new') new